.wrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-around;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.9rem;
  .right {
    .national {
      padding-right: 12px;
      position: relative;
    }
    .national::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -5px;
      height: 81%;
      border-left: 1px solid #8c8484;
      transform: translateY(-50%);
    }
  }
  .national:first-child {
    &::after {
      display: none;
    }
  }
  .national:nth-child(2) {
    &::after {
      display: none;
    }
  }
}
// .wrapper.fix {
//   position: fixed;
//   display: flex;
//   justify-content: space-around;
//   line-height: 1.5rem;
//   color: rgba(0, 0, 0, 0.54);
//   font-size: 0.9rem;
//   bottom: 0;
// }
.fix {
  margin-top: auto;
}
