.wrapper {
  margin-top: -28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .container {
    width: 90%;
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 2rem #d4dcec;
    opacity: 1;
    margin-bottom: 32px;
    .section-header {
      border-radius: 0.25rem;

      background: #d262e3 linear-gradient(135deg, #d262e3 0, #0665d0 100%) !important;
      padding: 0.75rem 1.25rem;
      .section-title {
        text-transform: uppercase;
        margin: 0;
        color: #fff;
        font-size: 20px;
        text-align: center;
        font-weight: 700;
      }
    }
  }
}
