.wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  min-height: 1000px;
  .header-content {
    display: flex;
    flex-direction: column;

    .content {
      padding-top: calc(var(--header-height) + 2.5rem);
    }
  }
}
// =====================>>>>>>REPONSIVE<<<<<<<<<<<++++++++++++++
// Mobile
@media (max-width: 740px) {
  .wrapper {
    padding-left: 0;
  }
}
