.wraper {
  margin-top: 2rem;
  padding-top: 2.5rem;
  padding: 1.2rem;
  padding-bottom: 100px;
  background-color: #fff;
  box-shadow: 0 0.5rem 2rem #d4dcec;
  border-radius: 0.25rem;
  .block-breadcrumb {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    span {
      cursor: pointer;
    }
    svg {
      font-size: 24px !important;
      color: var(--primary-color);
    }
  }
}
